#app {
  height: auto;
}
#Header_Logo {
  color: rgb(255, 255, 255);
  margin-top: auto;
  margin-left: 5%;
}
.ant-layout-header {
  background-color: rgb(146, 129, 241);
  box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
}

.ant-layout {
  background-color: #672fd8;
  min-height: 100vh;
  height: auto;
}

.ant-layout-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-height: 70%;
  flex: 1 1 auto;
  flex-direction: row;
}
.sideBar {
  background-color: #121111;
  color: white;
  text-align: left;
  margin-left: 50%;
  position: fixed;
  width: 10%;
}
.OuterVideoDescription {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  height: 100%;
  width: 320px;
  color: #000;
  font-weight: bold;
  position: relative;
}
.SoloVideoDescription {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  position: relative;
}
.video-responsive {

  height: 100%;
  width: 100%;
  position: relative;
}
.thevideo {
  position: absolute;
  padding: 5px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Playlists {
    width: 100%;
  display: flex;
  overflow-x: scroll;
  overflow-y: visible;
  flex-direction: column;
  color: rgb(236, 239, 241);
}

.Playlists::-webkit-scrollbar {
  display: none;
}
.minivid {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  height: 100%;
}
.PlaylistContainer {
    border: rgb(250, 184, 238) solid 2px;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}


.Playlistscreen {
  overflow-x: scroll;
  overflow-y: visible;
  flex-direction: row;
  height: 300px;
}
.Playlistscreen::-webkit-scrollbar {
  display: none;
}
.Playlisttitle {
  color: black;
  margin-top: 15px;
  font-size: 25px;
}
.Playlistssub {
  display: flex;
  flex-direction: column;
}
.MainContent {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: url("../img/1183298.jpg");
}
.Header {
    display: flex;
  position: sticky;
  top: 0;
  z-index: 999;
}

.modalBackground {
    z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
background-color: #dfdfdf;
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.modalClosebutton {
  display: flex;
  justify-content: flex-end;
  height: 5px;
}
.modalClosebutton button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalTitle {
    display: flex;
    border-radius: 10px;
    justify-content: center;
    color: white;
    margin: auto;
    text-align: center;
    background-color: cornflowerblue;
    width: 300px;
}

.modalTitle h1{
color: white;
vertical-align: middle;

}
.modalBody {
    margin-top: 40px;
  display: flex;
  flex-direction: column;
  font-size: larger;
}
.modalInput {
  display: flex;
  justify-content: center;
}
.modalBody input {
    border-radius: 5px;
    margin: 5px;
}

.modalFooter {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.modalFooter button {
  width: 400px;
  height: 55px;
  margin-bottom: auto;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  margin: 0 auto;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #0c0d0d;
}
.addButton {
    display: block;
    z-index: 5;
}
.buttonContainer {
    display: flex;
    position: absolute;
}